body {
    background-color: rgba(47, 117, 187, .7);
    margin: 0;
}

img {
    max-width: 26px;
    padding: 2px;
}

button {
    background-color: rgba(47, 117, 187, .7) !important;
}

.phoneBox {
    text-align: center;
    border: 1px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 177px;
}
.todayDescription{
    background-color: rgba(47, 117, 187, .7);
    margin-top: 1rem;
    margin-bottom: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    padding: 0.5rem;
}
.searchBar {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2rem;
    align-items: flex-end; 
}
.searchBarSlider {
    display: none;
}
.newLocationSearch {
    margin-right: 0.5rem;
    display: flex;
    align-items: flex-end;
}
.geolocation-form {
    display: block;
  } 
  .tooltip {
    position: relative;
  }
.tooltiptext {
    display: none;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: 1.5rem;
    opacity: 1;
}
.home-button {
    margin-top: 1rem;
}
.searchButton {
    margin-right: 0.2rem;
}
.location-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchButton, .toggle-search {
    padding: 0.1rem;
}
.toggle-search {
    margin-top: 1rem;
}
.searchButtonImage{
    width: 1rem;
}
.searchToggle {
    margin-right: 0.2rem;
    margin-left: 1rem;
    font-size: smaller;
    height: 1.5rem;
    width: 12rem;
}

.placeName {
    padding-top: 1rem;
}
.newBox .placeName {
    font-size: 2rem;
}
.newBox .temp {
    font-size: 3rem;
    
}
.temp {
    padding-top: 5%;
}
.newBox .description, .newBox .miniTemp {
    font-size: 1rem;
}
.miniTemps {
    display: flex;
    justify-content:center;
}
.miniTemp {
    padding: 0.2rem;
}

.todayBox{
    display: flex;
    flex-direction: row;
    background-color: rgba(47, 117, 187, .7);
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.todayBoxInner {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    overflow-x: scroll;
}

.todayBoxInner::-webkit-scrollbar {
    display: none;
}

.one-hour-box {
    padding: 0.2rem;
    margin-right: 0.2rem;
}
  

@media only screen and (min-width: 800px) {
    img {
        max-width: 35px;
        padding: 5px;
    }
    .searchBar {
        margin-left: 1rem;
    }
    .newLocationSearch {
        margin-right: 1rem;
    }

    .searchButtonImage{
        width: 1.5rem;
    }
    .searchToggle {
        font-size: small;
        height: 2rem;
    }
  }

  @media only screen and (max-width: 400px) {
    .searchBar {
        flex-direction: column;
        align-items: flex-start;
    }
    .newLocationSearch {
        margin-top: 0.5rem;
        margin-right: 1rem;
        margin-left: auto;
    }
    .searchBarSlider {
        margin-top: 1rem;
    }
  }