body {
    background-color: rgba(47, 117, 187, .7);
    margin: 0;
}

img {
    max-width: 26px;
    padding: 2px;
}

.phoneBox {
    text-align: center;
    border: 1px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 177px;
}
.todayDescription{
    background-color: rgba(47, 117, 187, .7);
    margin-top: 1rem;
    margin-bottom: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    padding: 0.5rem;
}

.newBox {
    padding-top: 20%;
}
.newBox .placeName {
    font-size: 2rem;
}
.newBox .temp {
    font-size: 3rem;
    padding-top: 2%;
}
.newBox .description, .newBox .miniTemp {
    font-size: 1rem;
}
.miniTemps {
    display: flex;
    justify-content:center;
}
.miniTemp {
    padding: 0.2rem;
}

.todayBox{
    background-color: rgba(47, 117, 187, .7);
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    overflow-x: scroll;
}


.todayBox::-webkit-scrollbar {
    display: none;
}

.one-hour-box {
    padding: 0.2rem;
    margin-right: 0.2rem;
}
  

@media only screen and (min-width: 800px) {
    img {
        max-width: 35px;
        padding: 5px;
    }
  }
