.humidity-bar-container {
    position: relative; 
    width: 100%; /* Set the width of the container to 100% of its parent */
    max-width: 400px; /* Set a maximum width for the container if desired */
    max-height: 300px;
}

.humidity-bar-container canvas {
    background-color: rgba(13, 69, 133, 0.226); /* Change this to your desired background color */
}
